<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.orderingMinAppAip.mapper.reserve.ReserveDayMapper">




<select id="getReserveDateAllByMonth" resultType="java.util.Map">
  select
      rd.*
  from
      reserve_day as rd
   where
     <![CDATA[  rd.creator >= #{startDate} and rd.creator <= #{endDate} ]]>
</select>


</mapper>